# 17.3 Data Cleaning 2: Missing Values
1. Determine all the variable types and find the fraction of the missing values for each variable.
2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.
4. This time, fill in the missing values using interpolation (extrapolation).
5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
warnings.filterwarnings('ignore')

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
                    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

df = pd.read_sql_query('select * from useducation', con=engine)

engine.dispose()
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

### 1. The variable types are as follows:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

### Percentage of missing values
Note that the average scores is missing a huge chunk of data at 64% while the rest of the data is between 8~18%.

In [4]:
# return list of percentage of items that are NAN
df.isna().sum() / df.isna().count()

PRIMARY_KEY                     0.000000
STATE                           0.000000
YEAR                            0.000000
ENROLL                          0.176273
TOTAL_REVENUE                   0.142091
FEDERAL_REVENUE                 0.142091
STATE_REVENUE                   0.142091
LOCAL_REVENUE                   0.142091
TOTAL_EXPENDITURE               0.142091
INSTRUCTION_EXPENDITURE         0.142091
SUPPORT_SERVICES_EXPENDITURE    0.142091
OTHER_EXPENDITURE               0.176273
CAPITAL_OUTLAY_EXPENDITURE      0.142091
GRADES_PK_G                     0.115952
GRADES_KG_G                     0.088472
GRADES_4_G                      0.087802
GRADES_8_G                      0.087802
GRADES_12_G                     0.087802
GRADES_1_8_G                    0.087802
GRADES_9_12_G                   0.087802
GRADES_ALL_G                    0.115952
AVG_MATH_4_SCORE                0.640751
AVG_MATH_8_SCORE                0.643432
AVG_READING_4_SCORE             0.642761
AVG_READING_8_SCORE             0.666220
dtype: float64

## Central Tendency
Looking at the data the mean is skewed higher than the median of the data. Meaning that there might be some clear outliers in the data. Note that in this assignment the outliers will not be explored. As such the median will be used for the fills below.

In [5]:
round(df.describe(),2)

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1492.00,1229.00,1280.00,1280.00,1280.00,1280.00,1280.00,1280.00,1280.00,1229.00,...,1361.00,1361.00,1361.00,1361.00,1361.00,1319.00,536.00,532.00,533.00,498.00
mean,2004.43,915930.82,9092081.86,766372.34,4216552.95,4109156.57,9196680.87,4762966.37,2680330.68,429204.62,...,64538.93,64271.06,54268.92,519214.04,247071.35,802441.51,234.77,278.41,218.87,263.66
std,7.39,1065280.42,11745187.40,1145241.59,5543072.00,5482970.61,11978126.90,6293003.72,3353348.56,534069.32,...,80293.39,78910.55,67889.28,643638.43,307705.63,970703.07,10.22,10.16,7.77,6.80
min,1992.00,43866.00,465650.00,31020.00,0.00,22093.00,481665.00,265549.00,139963.00,11541.00,...,633.00,437.00,311.00,4878.00,1808.00,7254.00,187.13,232.83,178.56,236.38
25%,1998.00,258314.00,2186305.25,189354.00,1153097.25,715834.50,2165404.50,1168032.00,635790.00,102831.00,...,13739.00,13342.00,10919.00,110626.00,51471.00,181065.00,229.69,272.76,214.66,259.53
50%,2004.00,648313.00,5079546.00,403376.50,2537073.50,2055780.50,5234505.50,2657452.00,1525405.50,271596.00,...,43272.00,43339.00,36735.00,345775.00,164260.00,550342.00,237.24,280.62,220.42,265.01
75%,2011.00,1014528.00,10859847.75,828966.00,5080939.25,4768680.00,10745191.00,5568028.00,3229650.75,518600.00,...,75481.00,76566.00,67460.00,611905.00,290502.00,928275.50,242.00,285.35,224.00,268.19
max,2017.00,6307022.00,89217262.00,9990221.00,50904567.00,36105265.00,85320133.00,43964520.00,26058021.00,3995951.00,...,493415.00,500143.00,498403.00,3929869.00,2013687.00,5944746.00,253.42,300.57,236.77,280.50

### 2. 
The median for the population was used to fill the entire dataframe. The issue with this is that the data in the 1992 year is higher than the year 1990s years. This fill will skew the data to a higher amount. The benefit of this fill is that it removes all the NAN items.

In [6]:
# create list of all columns with NAN items
col_list = ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 'STATE_REVENUE', 
            'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 
            'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 
            'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G', 'GRADES_4_G',
            'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G','GRADES_9_12_G', 
            'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 
            'AVG_READING_4_SCORE','AVG_READING_8_SCORE']

# fill list by mean
df_fill_1 = df.copy()
df_fill_1[col_list] = df_fill_1[col_list].apply(
    lambda x: x.fillna(x.mean()))
df_fill_1.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,915930.820993,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,263.661132
1,1992_ALASKA,ALASKA,1992,915930.820993,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,234.768293,278.414711,218.866154,258.859712
2,1992_ARIZONA,ARIZONA,1992,915930.820993,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,915930.820993,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,915930.820993,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,263.661132

In [7]:
# list of mean values after the fill
round(df_fill_1.groupby('YEAR').mean(), 2)

,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
YEAR,,,,,,,,,,,,,,,,,,,,,
1992,915930.82,4976274.88,338935.17,2278335.76,2359003.94,5059224.06,2660158.14,1487129.49,429204.62,449450.79,...,60724.88,56872.36,44038.77,485748.41,207994.39,729438.48,222.50,269.37,214.47,263.61
1993,812221.88,5154768.99,349492.96,2388518.85,2416757.18,5181889.51,2738871.57,1532411.04,264392.81,453654.67,...,61044.32,59019.88,43930.09,491633.55,212404.46,740454.80,234.77,278.41,218.87,263.66
1994,811611.36,5289481.83,366433.07,2403422.01,2519626.75,5333004.88,2816873.10,1584344.10,277763.84,448669.08,...,62184.75,59953.29,45072.16,496646.46,216987.84,751072.77,234.77,278.41,218.87,263.66
1995,864058.56,5798894.97,391376.03,2703390.50,2704128.44,5853843.56,3094656.02,1711285.88,307278.22,514606.04,...,62258.82,60907.04,45061.21,502088.48,222061.82,762232.98,234.77,278.41,218.87,263.66
1996,878351.68,6096583.81,407067.56,2893007.43,2796508.81,6191589.20,3254356.44,1785961.49,316746.50,582250.38,...,61709.25,60714.89,46054.25,502958.63,225201.28,766193.04,224.51,272.49,215.86,262.16
1997,891279.86,6428732.46,426925.91,3074486.26,2927320.29,6509496.58,3405293.04,1858808.95,318319.96,664048.50,...,62649.98,60906.00,47575.40,507648.19,228669.68,774821.02,234.77,278.41,218.87,263.66
1998,899732.37,6816816.31,468180.09,3270588.53,3078047.69,6909682.07,3588928.11,1971284.51,332261.95,727464.66,...,63126.66,61054.21,47627.31,504449.67,227326.98,770974.36,234.77,278.41,218.87,263.66
1999,906569.86,7244379.08,514322.88,3502325.06,3227731.14,7356743.66,3786375.03,2091928.52,347543.08,808515.04,...,64766.90,61405.54,48799.91,508278.70,230884.57,778769.79,234.77,278.41,218.87,263.66
2000,911190.31,7666760.59,555987.64,3727520.16,3383252.65,7792387.39,4002331.85,2210088.80,362764.86,879261.04,...,64045.98,61031.15,48223.34,504013.63,229663.10,785336.65,227.84,274.76,217.93,262.95
2001,916246.72,8154943.13,589088.10,3975696.30,3590158.74,8315056.58,4251234.32,2366712.16,383655.25,951680.55,...,64828.30,63408.27,50135.81,515739.03,237772.58,794015.74,234.77,278.41,218.87,263.66
2002,922748.72,8462467.64,658210.98,4086560.35,3717696.31,8750150.71,4456711.20,2483433.96,401239.10,1019377.45,...,64362.08,64996.39,52286.61,517018.90,243349.09,802820.30,234.77,278.41,218.87,263.66
2003,931028.59,8820418.10,727743.01,4225148.18,3867526.91,9082178.73,4653099.85,2616775.02,412349.10,978501.33,...,62431.81,65614.93,52352.59,508523.76,244075.81,795047.93,234.00,276.97,217.61,262.66
2004,935290.33,9207217.05,803931.11,4268327.11,4134958.82,9403644.78,4801633.88,2710835.28,423328.54,1008319.55,...,62271.44,65818.97,53170.59,507213.73,249266.88,799637.27,234.77,278.41,218.87,263.66
2005,938689.91,9653835.42,855698.74,4462004.70,4336131.98,9833899.52,5024443.05,2843561.79,439579.49,1041428.53,...,61662.19,65434.20,54633.22,505581.54,254218.37,803652.37,236.74,277.84,218.22,262.03
2006,942855.50,10215390.44,902233.22,4686743.74,4626413.48,10344343.73,5253330.51,3007557.89,458905.25,1119171.45,...,63853.59,66882.10,58081.17,522189.76,265261.47,820522.84,234.77,278.41,218.87,263.66
2007,944610.48,10822259.13,890920.83,5055613.09,4875725.21,10902176.07,5529404.98,3160948.38,481614.52,1208725.41,...,65578.96,66983.68,60600.61,531117.49,269649.07,834366.90,238.55,280.32,220.15,262.36
2008,940694.51,11323007.53,894645.33,5320762.20,5107600.00,11563768.57,5849024.10,3373564.60,498487.14,1295377.62,...,64882.22,65612.05,60090.68,522035.19,263807.10,820497.99,234.77,278.41,218.87,263.66
2009,927365.45,11273388.03,1039670.75,5180842.72,5052874.56,11558514.46,5856992.54,3352984.52,511296.67,1261524.93,...,67843.49,66987.95,62406.49,539235.87,271341.41,847124.09,238.61,281.45,219.69,263.32
2010,927683.79,11355686.19,1355963.91,4880108.65,5119613.63,11572577.64,5971103.23,3369351.19,513173.39,1121897.38,...,66986.74,66089.07,62343.29,534152.90,266806.84,851056.23,234.77,278.41,218.87,263.66
2011,942887.77,11606900.55,1363298.39,5099405.82,5144196.34,11585822.43,6056081.58,3416574.55,519520.23,1011397.31,...,67302.05,67462.95,62867.13,543622.61,268872.04,850233.00,239.79,282.88,220.07,264.68
2012,941825.25,11523471.03,1118910.70,5171514.30,5233046.03,11537623.24,6033301.49,3424315.12,519406.02,974512.28,...,67576.39,67787.68,63279.08,545909.36,268870.98,852802.52,234.77,278.41,218.87,263.66
2013,943260.98,11581239.67,1030228.42,5229628.10,5321383.15,11599663.60,6129814.42,3455982.46,531115.07,919081.09,...,67873.50,68703.18,63271.50,549170.73,269396.28,856985.24,241.03,283.25,220.78,266.32
2014,945689.97,12037525.65,1013101.32,5534267.25,5490157.09,11976814.49,6328341.07,3591707.47,545218.39,930615.13,...,69319.03,70020.81,64903.77,561641.89,277165.28,878689.47,234.77,278.41,218.87,263.66
2015,947544.23,12424950.18,1015876.90,5753187.78,5655885.50,12387384.85,6541610.92,3692834.84,553819.96,1009802.75,...,69466.17,68159.65,64525.91,553137.09,274320.05,784306.06,239.66,281.41,221.78,264.87
2016,952388.76,13373672.08,1061579.16,6234437.69,6077655.24,13265224.20,7011347.80,3911123.88,587423.94,1120930.43,...,64538.93,64271.06,54268.92,519214.04,247071.35,802441.51,234.77,278.41,218.87,263.66
2017,915930.82,9092081.86,766372.34,4216552.95,4109156.57,9196680.87,4762966.37,2680330.68,429204.62,902769.29,...,64538.93,64271.06,54268.92,519214.04,247071.35,802441.51,239.20,281.88,221.10,265.63

In [8]:
# check to see no items are NAN
df_fill_1.isna().sum() / df_fill_1.isna().count()

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

## 3. 
For question 3 we will fill the missing data based on the year enrolled. The big issue with this method is that if all the variables in a year is NAN then it will return NAN. The benefit is that the median is more accurate than step 2 above.

In [9]:
df_fill_2 = df.copy()

# Note that this will apply the fill by the year group and keep the data disaggreagated
df_fill_2 = df_fill_2.groupby('YEAR', as_index=False).apply(
    lambda x: x.fillna(x.mean())).reset_index()
df_fill_2.head()

,level_0,level_1,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,0,0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,263.307067
1,0,1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,218.410116,266.360319,212.712256,258.859712
2,0,2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,0,3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,0,4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,263.307067

In [10]:
# list shows there are still NAN values in 1992 and 2017
df_fill_2.groupby('YEAR').sum(min_count=1)

,level_0,level_1,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
YEAR,,,,,,,,,,,,,,,,,,,,,
1992,0,8405,NaN,2.560748e+08,1.663366e+07,1.169456e+08,1.224955e+08,2.606011e+08,1.374240e+08,7.672834e+07,...,3.400593e+06,3.184852e+06,2.466171e+06,2.720191e+07,1.164769e+07,4.069714e+07,12230.966510,14916.177865,11911.886312,14745.195745
1993,56,10966,4.491504e+07,2.670504e+08,1.728286e+07,1.237208e+08,1.260468e+08,2.681438e+08,1.422641e+08,7.951271e+07,...,3.418482e+06,3.305113e+06,2.460085e+06,2.753148e+07,1.189465e+07,4.133690e+07,NaN,NaN,NaN,NaN
1994,112,13458,4.487750e+07,2.753340e+08,1.832451e+07,1.246372e+08,1.323723e+08,2.774359e+08,1.470605e+08,8.270609e+07,...,3.482346e+06,3.357384e+06,2.524041e+06,2.781220e+07,1.215132e+07,4.195353e+07,NaN,NaN,NaN,NaN
1995,168,15992,4.810249e+07,3.066579e+08,1.985825e+07,1.430823e+08,1.437173e+08,3.094624e+08,1.641414e+08,9.051176e+07,...,3.486494e+06,3.410794e+06,2.523428e+06,2.811696e+07,1.243546e+07,4.260165e+07,NaN,NaN,NaN,NaN
1996,228,20505,4.981404e+07,3.274178e+08,2.079340e+07,1.560259e+08,1.505985e+08,3.327688e+08,1.753818e+08,9.580227e+07,...,3.517427e+06,3.460749e+06,2.625092e+06,2.866864e+07,1.283647e+07,4.359787e+07,12624.332008,15400.404101,12231.461807,14900.489539
1997,285,22545,5.063765e+07,3.485776e+08,2.205849e+07,1.675872e+08,1.589320e+08,3.530214e+08,1.849973e+08,1.004431e+08,...,3.571049e+06,3.471642e+06,2.711798e+06,2.893595e+07,1.303417e+07,4.410755e+07,NaN,NaN,NaN,NaN
1998,348,26595,5.205553e+07,3.772624e+08,2.478060e+07,1.821635e+08,1.703183e+08,3.825553e+08,1.988116e+08,1.086899e+08,...,3.661346e+06,3.541144e+06,2.762384e+06,2.925808e+07,1.318496e+07,4.465133e+07,NaN,NaN,NaN,NaN
1999,413,31103,5.340099e+07,4.103181e+08,2.801236e+07,2.000271e+08,1.822786e+08,4.170194e+08,2.143579e+08,1.179782e+08,...,3.821479e+06,3.620012e+06,2.873632e+06,2.997732e+07,1.360572e+07,4.587260e+07,NaN,NaN,NaN,NaN
2000,472,33997,5.371636e+07,4.391477e+08,3.085618e+07,2.153977e+08,1.928937e+08,4.467543e+08,2.290980e+08,1.260432e+08,...,3.778713e+06,3.600838e+06,2.845177e+06,2.973680e+07,1.355012e+07,4.628080e+07,13263.408011,16108.687670,12839.143955,15498.550239
2001,531,34710,5.406148e+07,4.724685e+08,3.311545e+07,2.323370e+08,2.070161e+08,4.824290e+08,2.460868e+08,1.367335e+08,...,3.825164e+06,3.740210e+06,2.953809e+06,3.042507e+07,1.401912e+07,4.682030e+07,NaN,NaN,NaN,NaN
2002,590,38845,5.450527e+07,4.934586e+08,3.783342e+07,2.399040e+08,2.157212e+08,5.121263e+08,2.601116e+08,1.447003e+08,...,3.797183e+06,3.835525e+06,3.082893e+06,3.050188e+07,1.435381e+07,4.736759e+07,NaN,NaN,NaN,NaN
2003,649,41296,5.507041e+07,5.178904e+08,4.257933e+07,2.493633e+08,2.259478e+08,5.347888e+08,2.735161e+08,1.538015e+08,...,3.683477e+06,3.871281e+06,3.088803e+06,3.000290e+07,1.440047e+07,4.689252e+07,13798.602945,16327.888637,12827.027870,15487.710560
2004,708,44273,5.536130e+07,5.442914e+08,4.777954e+07,2.523105e+08,2.442014e+08,5.567305e+08,2.836543e+08,1.602216e+08,...,3.674015e+06,3.883319e+06,3.137065e+06,2.992561e+07,1.470675e+07,4.717279e+07,NaN,NaN,NaN,NaN
2005,767,46355,5.559334e+07,5.747753e+08,5.131293e+07,2.655299e+08,2.579324e+08,5.860975e+08,2.988621e+08,1.692808e+08,...,3.638069e+06,3.860618e+06,3.223360e+06,2.982931e+07,1.499888e+07,4.741800e+07,13986.151194,16387.365882,12868.730863,15444.723297
2006,826,49501,5.587766e+07,6.131041e+08,5.448914e+07,2.808695e+08,2.777456e+08,6.209378e+08,3.144848e+08,1.804744e+08,...,3.765943e+06,3.951449e+06,3.434681e+06,3.081536e+07,1.568808e+07,4.846800e+07,NaN,NaN,NaN,NaN
2007,885,52410,5.599745e+07,6.545259e+08,5.371701e+07,3.060466e+08,2.947623e+08,6.590126e+08,3.333282e+08,1.909440e+08,...,3.872446e+06,3.960611e+06,3.595448e+06,3.137356e+07,1.598066e+07,4.936464e+07,14109.706516,16556.458574,13000.741698,15467.138121
2008,944,52959,5.563626e+07,6.802449e+08,5.348483e+07,3.199572e+08,3.068029e+08,6.951937e+08,3.510255e+08,2.028274e+08,...,3.828762e+06,3.873887e+06,3.557402e+06,3.080592e+07,1.559926e+07,4.846645e+07,NaN,NaN,NaN,NaN
2009,1003,57574,5.480538e+07,6.824545e+08,6.351119e+07,3.133284e+08,3.056149e+08,7.007108e+08,3.542517e+08,2.031685e+08,...,4.016945e+06,3.963947e+06,3.716900e+06,3.190083e+07,1.611328e+07,5.022442e+07,14108.542649,16629.880768,12968.179005,15532.943487
2010,1044,58090,5.388431e+07,6.737785e+08,8.259164e+07,2.874870e+08,3.036999e+08,6.871097e+08,3.544092e+08,2.000335e+08,...,3.890301e+06,3.836932e+06,3.632636e+06,3.101181e+07,1.551568e+07,4.957012e+07,NaN,NaN,NaN,NaN
2011,1102,61522,5.490209e+07,6.932202e+08,8.382331e+07,3.027937e+08,3.066031e+08,6.909971e+08,3.615469e+08,2.040224e+08,...,3.912260e+06,3.922949e+06,3.673495e+06,3.160733e+07,1.566355e+07,4.951884e+07,13947.667093,16442.446888,12773.760936,15359.833708
2012,1160,63627,5.483200e+07,6.877171e+08,6.770330e+07,3.075501e+08,3.124637e+08,6.878179e+08,3.600444e+08,2.045330e+08,...,3.929040e+06,3.942810e+06,3.698692e+06,3.174720e+07,1.566348e+07,4.967891e+07,NaN,NaN,NaN,NaN
2013,1218,66741,5.492671e+07,6.915275e+08,6.185375e+07,3.113833e+08,3.182905e+08,6.919101e+08,3.664104e+08,2.066218e+08,...,3.947212e+06,3.998806e+06,3.698228e+06,3.194667e+07,1.569561e+07,4.993948e+07,14029.682250,16467.069794,12820.715586,15467.476856
2014,1232,66333,5.312202e+07,6.902725e+08,5.808826e+07,3.171535e+08,3.150308e+08,6.859651e+08,3.629813e+08,2.061393e+08,...,3.891780e+06,3.933091e+06,3.656668e+06,3.153994e+07,1.558367e+07,4.944830e+07,NaN,NaN,NaN,NaN
2015,1311,70269,5.422202e+07,7.305720e+08,5.957813e+07,3.382362e+08,3.327577e+08,7.274774e+08,3.847992e+08,2.172813e+08,...,3.969785e+06,3.893160e+06,3.699237e+06,3.159913e+07,1.569272e+07,4.460605e+07,13693.321164,16060.265512,12661.013352,15105.455559
2016,1224,52724,4.857183e+07,6.820573e+08,5.414054e+07,3.179563e+08,3.099604e+08,6.765264e+08,3.575787e+08,1.994673e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,1275,71491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12199.341957,14375.828640,11275.871162,13547.236777

In [11]:
# percentage of list that is NAN
df_fill_2.isna().sum() / df_fill_2.isna().count()

level_0                         0.000000
level_1                         0.000000
PRIMARY_KEY                     0.000000
STATE                           0.000000
YEAR                            0.000000
ENROLL                          0.071716
TOTAL_REVENUE                   0.034182
FEDERAL_REVENUE                 0.034182
STATE_REVENUE                   0.034182
LOCAL_REVENUE                   0.034182
TOTAL_EXPENDITURE               0.034182
INSTRUCTION_EXPENDITURE         0.034182
SUPPORT_SERVICES_EXPENDITURE    0.034182
OTHER_EXPENDITURE               0.071716
CAPITAL_OUTLAY_EXPENDITURE      0.034182
GRADES_PK_G                     0.068365
GRADES_KG_G                     0.068365
GRADES_4_G                      0.068365
GRADES_8_G                      0.068365
GRADES_12_G                     0.068365
GRADES_1_8_G                    0.068365
GRADES_9_12_G                   0.068365
GRADES_ALL_G                    0.068365
AVG_MATH_4_SCORE                0.576408
AVG_MATH_8_SCORE                0.576408
AVG_READING_4_SCORE             0.576408
AVG_READING_8_SCORE             0.576408
dtype: float64

## 4.
Interpolate populated all the NAN values unlike step 3. One issue could be the outliers skewing the data.

In [12]:
df_fill_3 = df.copy()

# create an interpolate that fill all values
df_fill_3[col_list] = df_fill_3[col_list].apply(
    lambda x: x.interpolate(method='linear', limit_direction='forward'))
df_fill_3[col_list] = df_fill_3[col_list].apply(
    lambda x: x.interpolate(method='linear', limit_direction='backward'))
df_fill_3[col_list] = df_fill_3[col_list].apply(
    lambda x: x.interpolate(method='nearest'))
round(df_fill_3, 2).head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,89711.0,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.33,252.19,207.96,258.86
1,1992_ALASKA,ALASKA,1992,89711.0,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,211.79,258.78,207.09,258.86
2,1992_ARIZONA,ARIZONA,1992,89711.0,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.25,265.37,206.21,262.17
3,1992_ARKANSAS,ARKANSAS,1992,89711.0,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.21,256.31,208.63,264.62
4,1992_CALIFORNIA,CALIFORNIA,1992,89711.0,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.40,260.89,196.76,265.52

In [13]:
# cheack to see how many nan remain
df_fill_3.isna().sum() / df_fill_3.isna().count()

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

## 5. 
For this question all the above items will be compared. The folllowing graphs compares each of the fills above. What was interesting is that the interpolated items had a higher mean than the items that filled in questions 2 and 3. Whereas the median was clearly higher for all the items. It was surprising that overall the data did not change drastically. Out of all the choses the filled values by year was more accurate but had large NAN populations, followed by the interpolated items.

In [14]:
# create describe list for each fill to compare with original dataframe
for col in col_list:
    print("Statistics for columns: {}".format(col))
    print(pd.concat([df[col], df_fill_1[col],
                     df_fill_2[col], df_fill_3[col]], axis=1).describe())

Statistics for columns: ENROLL
             ENROLL        ENROLL        ENROLL        ENROLL
count  1.229000e+03  1.492000e+03  1.385000e+03  1.492000e+03
mean   9.159308e+05  9.159308e+05  9.161654e+05  9.838759e+05
std    1.065280e+06  9.667725e+05  1.003532e+06  1.006773e+06
min    4.386600e+04  4.386600e+04  4.386600e+04  4.386600e+04
25%    2.583140e+05  3.150940e+05  2.867590e+05  2.821195e+05
50%    6.483130e+05  8.204140e+05  7.374010e+05  7.373935e+05
75%    1.014528e+06  9.211780e+05  9.624880e+05  1.595024e+06
max    6.307022e+06  6.307022e+06  6.307022e+06  6.307022e+06
Statistics for columns: TOTAL_REVENUE
       TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE
count   1.280000e+03   1.492000e+03   1.441000e+03   1.492000e+03
mean    9.092082e+06   9.092082e+06   9.084108e+06   1.111164e+07
std     1.174519e+07   1.087818e+07   1.110204e+07   1.200155e+07
min     4.656500e+05   4.656500e+05   4.656500e+05   4.656500e+05
25%     2.186305e+06   2.546261e+06   2.425600e+06   2.546261e+06
50%     5.079546e+06   6.359310e+06   5.778507e+06   6.351760e+06
75%     1.085985e+07   9.276958e+06   1.116863e+07   1.803650e+07
max     8.921726e+07   8.921726e+07   8.921726e+07   8.921726e+07
Statistics for columns: FEDERAL_REVENUE
       FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE
count     1.280000e+03     1.492000e+03     1.441000e+03     1.492000e+03
mean      7.663723e+05     7.663723e+05     7.662749e+05     8.922691e+05
std       1.145242e+06     1.060702e+06     1.085057e+06     1.106788e+06
min       3.102000e+04     3.102000e+04     3.102000e+04     3.102000e+04
25%       1.893540e+05     2.170200e+05     2.068530e+05     2.170200e+05
50%       4.033765e+05     5.167410e+05     4.461800e+05     5.165190e+05
75%       8.289660e+05     7.663723e+05     8.956420e+05     1.411794e+06
max       9.990221e+06     9.990221e+06     9.990221e+06     9.990221e+06
Statistics for columns: STATE_REVENUE
       STATE_REVENUE  STATE_REVENUE  STATE_REVENUE  STATE_REVENUE
count   1.280000e+03   1.492000e+03   1.441000e+03   1.492000e+03
mean    4.216553e+06   4.216553e+06   4.213597e+06   4.913351e+06
std     5.543072e+06   5.133895e+06   5.237195e+06   5.423675e+06
min     0.000000e+00   0.000000e+00   0.000000e+00   0.000000e+00
25%     1.153097e+06   1.356434e+06   1.319582e+06   1.356434e+06
50%     2.537074e+06   3.127639e+06   2.857497e+06   3.119414e+06
75%     5.080939e+06   4.269811e+06   5.187230e+06   8.020633e+06
max     5.090457e+07   5.090457e+07   5.090457e+07   5.090457e+07
Statistics for columns: LOCAL_REVENUE
       LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE
count   1.280000e+03   1.492000e+03   1.441000e+03   1.492000e+03
mean    4.109157e+06   4.109157e+06   4.104236e+06   5.306024e+06
std     5.482971e+06   5.078230e+06   5.181475e+06   5.900909e+06
min     2.209300e+04   2.209300e+04   2.209300e+04   2.209300e+04
25%     7.158345e+05   9.447962e+05   8.747060e+05   9.447962e+05
50%     2.055780e+06   2.697257e+06   2.398344e+06   2.650904e+06
75%     4.768680e+06   4.109157e+06   4.995971e+06   8.584803e+06
max     3.610526e+07   3.610526e+07   3.610526e+07   3.610526e+07
Statistics for columns: TOTAL_EXPENDITURE
       TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  \
count       1.280000e+03       1.492000e+03       1.441000e+03
mean        9.196681e+06       9.196681e+06       9.190557e+06
std         1.197813e+07       1.109393e+07       1.132084e+07
min         4.816650e+05       4.816650e+05       4.816650e+05
25%         2.165404e+06       2.523968e+06       2.427316e+06
50%         5.234506e+06       6.520224e+06       5.858385e+06
75%         1.074519e+07       9.434922e+06       1.116970e+07
max         8.532013e+07       8.532013e+07       8.532013e+07

       TOTAL_EXPENDITURE
count       1.492000e+03
mean        1.114374e+07
std         1.212433e+07
min         4.816650e+05
25%         2.523968e+06
50%         6.499891e+06
75%         1.801704e+07
max         8.532013e+07
Statistics for columns: INSTRUCTION_EXPENDITURE
       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
count             1.280000e+03             1.492000e+03
mean              4.762966e+06             4.762966e+06
std               6.293004e+06             5.828468e+06
min               2.655490e+05             2.655490e+05
25%               1.168032e+06             1.343611e+06
50%               2.657452e+06             3.358142e+06
75%               5.568028e+06             4.938820e+06
max               4.396452e+07             4.396452e+07

       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE
count             1.441000e+03             1.492000e+03
mean              4.758243e+06             5.792260e+06
std               5.947042e+06             6.376549e+06
min               2.655490e+05             2.655490e+05
25%               1.306105e+06             1.343611e+06
50%               3.033016e+06             3.318778e+06
75%               5.672620e+06             9.130766e+06
max               4.396452e+07             4.396452e+07
Statistics for columns: SUPPORT_SERVICES_EXPENDITURE
       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE  \
count                  1.280000e+03                  1.492000e+03
mean                   2.680331e+06                  2.680331e+06
std                    3.353349e+06                  3.105812e+06
min                    1.399630e+05                  1.399630e+05
25%                    6.357900e+05                  7.673688e+05
50%                    1.525406e+06                  1.913844e+06
75%                    3.229651e+06                  2.795888e+06
max                    2.605802e+07                  2.605802e+07

       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE
count                  1.441000e+03                  1.492000e+03
mean                   2.677770e+06                  3.324275e+06
std                    3.170760e+06                  3.500830e+06
min                    1.399630e+05                  1.399630e+05
25%                    7.350360e+05                  7.673688e+05
50%                    1.720824e+06                  1.910412e+06
75%                    3.333043e+06                  5.435244e+06
max                    2.605802e+07                  2.605802e+07
Statistics for columns: OTHER_EXPENDITURE
       OTHER_EXPENDITURE  OTHER_EXPENDITURE  OTHER_EXPENDITURE  \
count       1.229000e+03       1.492000e+03       1.385000e+03
mean        4.292046e+05       4.292046e+05       4.286507e+05
std         5.340693e+05       4.846832e+05       5.041013e+05
min         1.154100e+04       1.154100e+04       1.154100e+04
25%         1.028310e+05       1.354282e+05       1.199340e+05
50%         2.715960e+05       3.672335e+05       3.070220e+05
75%         5.186000e+05       4.568915e+05       5.223475e+05
max         3.995951e+06       3.995951e+06       3.995951e+06

       OTHER_EXPENDITURE
count       1.492000e+03
mean        4.889553e+05
std         5.241104e+05
min         1.154100e+04
25%         1.125620e+05
50%         3.301260e+05
75%         8.308385e+05
max         3.995951e+06
Statistics for columns: CAPITAL_OUTLAY_EXPENDITURE
       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE  \
count                1.280000e+03                1.492000e+03
mean                 9.027693e+05                9.027693e+05
std                  1.327562e+06                1.229564e+06
min                  1.270800e+04                1.270800e+04
25%                  1.815645e+05                2.163398e+05
50%                  5.102595e+05                6.482175e+05
75%                  9.668515e+05                9.027693e+05
max                  1.022366e+07                1.022366e+07

       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE
count                1.441000e+03                1.492000e+03
mean                 9.044417e+05                1.033524e+06
std                  1.254176e+06                1.272901e+06
min                  1.270800e+04                1.270800e+04
25%                  2.062410e+05                2.163398e+05
50%                  5.809340e+05                6.436235e+05
75%                  1.024876e+06                1.717212e+06
max                  1.022366e+07                1.022366e+07
Statistics for columns: GRADES_PK_G
         GRADES_PK_G    GRADES_PK_G    GRADES_PK_G    GRADES_PK_G
count    1319.000000    1492.000000    1390.000000    1492.000000
mean    17601.614102   17601.614102   17672.581838   15926.059316
std     30016.166447   28221.111094   29263.483252   28669.479212
min         0.000000       0.000000       0.000000       0.000000
25%      2021.000000    2449.000000    2183.250000    1544.000000
50%      8106.000000   10505.000000    9066.500000    5910.500000
75%     22295.000000   19149.250000   22788.750000   19561.000000
max    250911.000000  250911.000000  250911.000000  250911.000000
Statistics for columns: GRADES_KG_G
         GRADES_KG_G    GRADES_KG_G    GRADES_KG_G    GRADES_KG_G
count    1360.000000    1492.000000    1390.000000    1492.000000
mean    63746.761029   63746.761029   63810.167724   59021.465818
std     80205.138143   76572.547833   79336.993597   78271.025323
min       544.000000     544.000000     544.000000     544.000000
25%     11745.000000   14016.000000   11928.500000    9926.750000
50%     41597.500000   48897.000000   42968.000000   38507.000000
75%     73865.250000   70372.750000   72972.250000   70748.750000
max    530531.000000  530531.000000  530531.000000  530531.000000
Statistics for columns: GRADES_4_G
          GRADES_4_G     GRADES_4_G     GRADES_4_G     GRADES_4_G
count    1361.000000    1492.000000    1390.000000    1492.000000
mean    64538.927259   64538.927259   64590.152441   59797.646113
std     80293.387625   76684.998585   79451.944548   78406.899202
min       633.000000     633.000000     633.000000     633.000000
25%     13739.000000   15195.500000   14190.500000   10117.250000
50%     43272.000000   49884.500000   44909.500000   38280.500000
75%     75481.000000   71814.250000   75149.750000   72310.250000
max    493415.000000  493415.000000  493415.000000  493415.000000
Statistics for columns: GRADES_8_G

          GRADES_8_G     GRADES_8_G     GRADES_8_G     GRADES_8_G
count    1361.000000    1492.000000    1390.000000    1492.000000
mean    64271.057311   64271.057311   64331.744106   59511.380027
std     78910.545776   75364.301721   78083.976028   77123.573668
min       437.000000     437.000000     437.000000     437.000000
25%     13342.000000   15682.750000   13698.250000   10252.000000
50%     43339.000000   49571.000000   44756.500000   38114.500000
75%     76566.000000   72131.000000   75016.250000   72598.250000
max    500143.000000  500143.000000  500143.000000  500143.000000
Statistics for columns: GRADES_12_G
        GRADES_12_G    GRADES_12_G    GRADES_12_G    GRADES_12_G
count    1361.00000    1492.000000    1390.000000    1492.000000
mean    54268.92432   54268.924320   54418.075582   50207.239276
std     67889.27623   64838.328605   67187.337112   66309.867155
min       311.00000     311.000000     311.000000     311.000000
25%     10919.00000   13437.000000   11161.750000    8951.000000
50%     36735.00000   39566.000000   37541.500000   33279.000000
75%     67460.00000   64616.250000   67026.000000   64920.500000
max    498403.00000  498403.000000  498403.000000  498403.000000
Statistics for columns: GRADES_1_8_G
       GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G
count  1.361000e+03  1.492000e+03  1.390000e+03  1.492000e+03
mean   5.192140e+05  5.192140e+05  5.196200e+05  4.810102e+05
std    6.436384e+05  6.147133e+05  6.368932e+05  6.286622e+05
min    4.878000e+03  4.878000e+03  4.878000e+03  4.878000e+03
25%    1.106260e+05  1.211522e+05  1.129712e+05  8.127325e+04
50%    3.457750e+05  4.015865e+05  3.611705e+05  3.097340e+05
75%    6.119050e+05  5.749118e+05  6.052242e+05  5.783400e+05
max    3.929869e+06  3.929869e+06  3.929869e+06  3.929869e+06
Statistics for columns: GRADES_9_12_G
       GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G
count   1.361000e+03   1.492000e+03   1.390000e+03   1.492000e+03
mean    2.470714e+05   2.470714e+05   2.474932e+05   2.286678e+05
std     3.077056e+05   2.938773e+05   3.044943e+05   3.005815e+05
min     1.808000e+03   1.808000e+03   1.808000e+03   1.808000e+03
25%     5.147100e+04   5.919750e+04   5.270300e+04   3.950675e+04
50%     1.642600e+05   1.817010e+05   1.706525e+05   1.472355e+05
75%     2.905020e+05   2.825390e+05   2.888522e+05   2.843505e+05
max     2.013687e+06   2.013687e+06   2.013687e+06   2.013687e+06
Statistics for columns: GRADES_ALL_G
       GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G
count  1.319000e+03  1.492000e+03  1.390000e+03  1.492000e+03
mean   8.024415e+05  8.024415e+05  8.029178e+05  7.478782e+05
std    9.707031e+05  9.126522e+05  9.456162e+05  9.291585e+05
min    7.254000e+03  7.254000e+03  7.254000e+03  7.254000e+03
25%    1.810650e+05  2.293578e+05  1.939785e+05  1.718665e+05
50%    5.503420e+05  6.473260e+05  5.983920e+05  4.591248e+05
75%    9.282755e+05  8.724220e+05  9.045562e+05  8.860948e+05
max    5.944746e+06  5.944746e+06  5.944746e+06  5.944746e+06
Statistics for columns: AVG_MATH_4_SCORE
       AVG_MATH_4_SCORE  AVG_MATH_4_SCORE  AVG_MATH_4_SCORE  AVG_MATH_4_SCORE
count        536.000000       1492.000000        632.000000       1492.000000
mean         234.768293        234.768293        234.164118        232.723472
std           10.221511          6.122843         10.117544          9.405215
min          187.134670        187.134670        187.134670        187.134670
25%          229.694352        234.768293        227.719378        226.267129
50%          237.238552        234.768293        236.867138        234.226904
75%          241.995486        234.768293        241.590257        240.163315
max          253.420961        253.420961        253.420961        253.420961
Statistics for columns: AVG_MATH_8_SCORE
       AVG_MATH_8_SCORE  AVG_MATH_8_SCORE  AVG_MATH_8_SCORE  AVG_MATH_8_SCORE
count        532.000000       1492.000000        632.000000       1492.000000
mean         278.414711        278.414711        277.962776        275.734024
std           10.159722          6.063038          9.666190          8.754805
min          232.831510        232.831510        232.831510        232.831510
25%          272.761598        278.414711        272.306655        270.096001
50%          280.618803        278.414711        279.735763        275.711254
75%          285.347428        278.414711        284.198883        282.702092
max          300.568235        300.568235        300.568235        300.568235
Statistics for columns: AVG_READING_4_SCORE
       AVG_READING_4_SCORE  AVG_READING_4_SCORE  AVG_READING_4_SCORE  \
count           533.000000          1492.000000           632.000000
mean            218.866154           218.866154           218.636919
std               7.769616             4.641053             7.251228
min             178.557612           178.557612           178.557612
25%             214.663401           218.866154           214.587049
50%             220.416034           218.866154           219.799644
75%             223.999337           218.866154           223.441918
max             236.773867           236.773867           236.773867

       AVG_READING_4_SCORE
count          1492.000000
mean            218.971553
std               5.959927
min             178.557612
25%             216.126818
50%             219.771325
75%             222.684611
max             236.773867
Statistics for columns: AVG_READING_8_SCORE
       AVG_READING_8_SCORE  AVG_READING_8_SCORE  AVG_READING_8_SCORE  \
count           498.000000          1492.000000           632.000000
mean            263.661132           263.661132           263.539168
std               6.803725             3.928132             6.071020
min             236.379102           236.379102           236.379102
25%             259.533171           263.661132           261.117268
50%             265.010912           263.661132           263.363933
75%             268.190121           263.661132           267.451963
max             280.499130           280.499130           280.499130

       AVG_READING_8_SCORE
count          1492.000000
mean            263.264844
std               4.978430
min             236.379102
25%             260.487961
50%             262.615528
75%             266.847503
max             280.499130